altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fonttools
GitPython
idna
imbalanced-learn
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
streamlit
pandas
numpy
openpyxl
matplotlib
scikit-learn
imbalanced-learn
xgboost
lightgbm

narwhals
numpy
openpyxl
packaging
pandas
Pillow
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
streamlit
tenacity
threadpoolctl
toml
tornado
typing-extensions
tzdata
urllib3
watchdog
xgboost
lightgbm
catboost
